
<div class="container pt-40 m-auto w-75">
    <form class="space-y-4">
  <input type="text" placeholder="Your Name" class="w-full p-2 border-2 border-red-500 rounded" />
  <input type="email" placeholder="Your Email" class="w-full p-2 border-2 border-red-500 rounded" />
  <textarea placeholder="Your Message" class="w-full p-2 border-2 border-red-500 rounded h-32"></textarea>
  <button type="submit" class="bg-red-600 text-white px-4 py-2 rounded mb-3">Send Message</button>
</form>
 <h2 class="text-2xl font-bold text-red-600 mb-4">Contact Us</h2>
    <p class="mb-4">Hungry or have a question? Let’s talk! Drop your email below and we’ll spice up your inbox.</p>
    <form class="flex flex-col sm:flex-row gap-3">
      <input type="email" placeholder="your@email.com" class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-red-500" />
      <button class="bg-red-600 text-white px-6 py-2 rounded-md hover:bg-red-700 transition">Send</button>
    </form>



<section class="my-8 px-4">
  <h2 class="text-2xl font-bold mb-4">📍 Find Us</h2>
  <div class="rounded-xl overflow-hidden border shadow-lg">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3487.1759410765194!2d31.10490972458012!3d29.07094547542824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145a27be731b2227%3A0xcd7f52a0931b5524!2z2YXYp9mD2K_ZiNmG2KfZhNiv2LI!5e0!3m2!1sar!2seg!4v1753602684975!5m2!1sar!2seg" width="600" height="450" 
style="border:0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>









</div>

