 <section class="max-w-5xl mx-auto px-4 py-12 pt-40">
    <h1 class="text-4xl font-bold text-red-700 mb-4">About Us 🍔 </h1>
    <p class="text-lg mb-6">
  Since opening its first branch in Egypt in 1994, McDonald’s has become
   a household name across the country — serving millions of customers every
    year with fast, high-quality meals and a smile. With over 100 branches nationwide,
     McDonald’s Egypt continues to be the go-to destination for families, students, and professionals
      looking for delicious, reliable food.


    </p>

   
    <h2 class="text-2xl font-bold text-red-600 mb-2">Our Mission</h2>
    <p class="mb-8">
    At McDonald’s, our mission is simple yet powerful:
To serve delicious food, fast and fresh, with care.
We believe in making moments enjoyable — whether it's a quick lunch break, a late-night snack, or a family dinner. Every order is prepared with consistency, quality, and love for what we do.




    </p>


    <h2 class="text-2xl font-bold text-red-600 mb-4">🍟 What Makes Us Special?</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-10">
      <div class="bg-red-50 border-l-4 border-red-400 p-4 rounded shadow transition-transform duration-300 hover:scale-110 hover:bg-yellow-200 ">
        <h3 class="font-semibold text-red-700  ">Iconic Menu</h3>
        <p>From the world-famous Big Mac to our crispy fries, McNuggets, and McChicken sandwiches — we serve flavors loved by all ages.</p>
      </div>
      <div class="bg-red-50 border-l-4 border-red-400 p-4 rounded shadow transition-transform duration-300 hover:scale-110 hover:bg-yellow-200">
        <h3 class="font-semibold text-red-700">Local Taste, Global Standards</h3>
        <p>While we bring the global McDonald’s experience to Egypt, we also celebrate local taste with exclusive items made especially for Egyptian customers.

.</p>
      </div>
      <div class="bg-red-50 border-l-4 border-red-400 p-4 rounded shadow transition-transform duration-300 hover:scale-110 hover:bg-yellow-200">
        <h3 class="font-semibold text-red-700">Family & Community Focus</h3>
        <p>Our branches are designed for comfort, family-friendly moments, and safe, enjoyable dining experiences.

</p>
      </div>
    </div>



  
    <h2 class="text-2xl font-bold text-red-600 mb-4">Achievements</h2>
    <ul class="mb-10 space-y-3">

      <li>Serving Egypt for 30+ years</li>
            <li>Created thousands of job opportunities for Egyptian youth

</li>
      <li>100+ branches across Cairo, Alexandria, and other governorates</li>
      <li>Supported local community projects and Ronald McDonald House Charities

</li>


    </ul>

   
   
  </section>
