
<nav class="  fixed left-0 top-0 w-100 border-gray-200 bg-gray-900 dark:bg-gray-800 dark:border-gray-700 z-10 ">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3">
    <a class="flex items-center space-x-3 rtl:space-x-reverse" 
    routerLink="home"
    >
        
        <i class="fa-solid fa-burger fa-5x" style="color:#bc2121;" ></i>

        <h1 class="text-slate-50 text-4xl border-x-2 border-red-700 px-2">McDonald's</h1>
    </a>
   
    
      <ul class="flex  gap-10 font-medium mt-4 rounded-lg dark:bg-gray-800 dark:border-gray-700 ">
        <li>
          <a class="block px-6 py-2 text-white rounded-5 hover:bg-yellow-500 text-xl" aria-current="page"
          routerLinkActive="bg-danger"
          routerLink="home"
          
          >Home</a>
        </li>

<li>
          <a class="block px-6 py-2 text-white rounded-5   hover:bg-yellow-500  text-xl "
          routerLinkActive="bg-danger"
          routerLink="menu"

          >Menu</a>
        </li>

        <li>
          <a class="block px-6 py-2 text-white rounded-5   hover:bg-yellow-500  text-xl "
          routerLinkActive="bg-danger"
          routerLink="order"

          >About US</a>
        </li>
        <li>
          <a class="block px-6 py-2 text-white rounded-5   hover:bg-yellow-500  text-xl"
          routerLinkActive="bg-danger"
          routerLink="contact"

          >Contact</a>
        </li>
      
      </ul>
    </div>
  
</nav>



