<footer class="bg-red-900 text-center py-6 text-slate-50 text-m ">
  <div class="flex justify-center space-x-6 mb-4">
    <a href="#" class="hover:underline">About Us</a>
    <a href="#" class="hover:underline">Contact</a>
    <a href="#" class="hover:underline">Privacy Policy</a>
    <a href="#" class="hover:underline">Terms of Service</a>
  </div>

  <div class="flex justify-center space-x-6 mb-4 text-lg">
    <a href="https://x.com/mcdonalds" aria-label="Twitter">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com/mcdonalds/" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.facebook.com/McDonaldsEgypt" aria-label="Facebook">
      <i class="fab fa-facebook"></i>
    </a>
  </div>

  <p class="text-xs">&copy; 2024 Foodie Delight. All rights reserved.</p>
</footer>

