
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cairo';
  src: url('/src/fonts/PlaywriteAUQLD-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('/src/fonts/Bitter-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* استخدميه بقى */

body {
  font-family: 'Cairo', sans-serif;
}


